---
import TenantDetailsDialog from "../components/dialogs/TenantDetailsDialog.astro";
import TenantsGrid from "../components/grids/TenantsGrid.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Tenants">
  <div class="flex-row">
    <ul class="menu menu-vertical lg:menu-horizontal bg-base-200 rounded-box">
      <li><a href="/tenants/create">Add Tenant</a></li>
      <li><a>Order By</a></li>
      <li><a>Filter By</a></li>
    </ul>
  </div>
  <div class="flex-row">
    <TenantsGrid />
  </div>
</DefaultLayout>
