---
import UsersGrid from '../../components/grids/UsersGrid.astro'
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---
<DefaultLayout title="Users">
  <div class="flex-row">
    <ul
      class="menu menu-vertical lg:menu-horizontal bg-base-200 rounded-box"
    >
      <li><a>Add User</a></li>
      <li><a>Order By</a></li>
      <li><a>Filter By</a></li>
    </ul>
  </div>
  <div class="flex-row">
    <UsersGrid />
  </div>
</DefaultLayout>
