---
import { actions } from "astro:actions";

import TenantAddForm from "../../components/forms/TenantAddForm.astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";

const result = Astro.getActionResult(actions.tenants.addTenant);

let business_name = "";
let tenant_name = "";
let email = "";

if (result && !result.error) {
  return Astro.redirect("/?tenant_id=" + result.data.tenant_id);
} 

if (result && result.error) {
  const data = await Astro.request.formData();
  business_name = data.get("business_name")?.toString() || "";
  tenant_name = data.get("tenant_name")?.toString() || "";
  email = data.get("email")?.toString() || "";
}
---

<DefaultLayout title="Tenants">
  <h3 class="text-lg font-bold">Create Tenant</h3>
  <TenantAddForm business_name={business_name} tenant_name={tenant_name} email={email} />
</DefaultLayout>
