---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Analytics">
  <div class="flex-row">
    <ul class="menu menu-vertical lg:menu-horizontal bg-base-200 rounded-box">
      <li><a>View A</a></li>
      <li><a>Filters</a></li>
      <li><a>Item 3</a></li>
    </ul>
  </div>
  <div class="flex-row">Analytics - Coming Soon</div>
</DefaultLayout>
