---
import ProductsGrid from "../../components/grids/ProductsGrid.astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Products">
  <div class="flex-row">
    <ul class="menu menu-vertical lg:menu-horizontal bg-base-200 rounded-box">
      <li><a>Add Product</a></li>
      <li><a>Order By</a></li>
      <li><a>Filter By</a></li>
    </ul>
  </div>
  <div class="flex-row">
    <ProductsGrid />
  </div>
</DefaultLayout>
