---

---

<!-- You can open the modal using ID.showModal() method -->
<dialog id="tenantDetailsDialog" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        >✕</button
      >
    </form>
    <h3 class="text-lg font-bold">Tenant Details</h3>
    <input type="hidden" id="details_tenantId" value="unknown" />
    <div class="mt-5">
      <p class="mt-6">ID: <span id="tenant_details_id">unknown</span></p>
      <p class="mt-6">Business Name: <span id="tenant_details_business">unknown</span></p>
      <p class="mt-6">Name: <span id="tenant_details_name">unknown</span></p>
      <p class="mt-6">Email: <span id="tenant_details_email">unknown</span></p>
      <p class="mt-6">Created: <span id="tenant_details_created">unknown</span></p>
      <p class="mt-6">Updated: <span id="tenant_details_updated">unknown</span></p>
    </div>
  </div>
</dialog>
