---

---

<!-- You can open the modal using ID.showModal() method -->
<dialog id="tenantDeleteDialog" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        >✕</button
      >
    </form>
    <h3 class="text-lg font-bold">Confirm Tenant Deletion</h3>
    <p class="mt5">Are you sure you want to delete this tenant?</p>
    <div class="mt-5">
      <p class="mt-6">Tenant Name: <span>Test</span></p>
    </div>
    <div class="flex-row mt-6">
        <input type="hidden" id="delete_tenantId" value="unknown" />
      <button
        class="btn btn-error"
        id="tenantDeleteBtn"
        onclick="tenantDeleteDialog.close()">Delete</button
      >
      <button class="btn btn-success" onclick="tenantDeleteDialog.close()"
        >Cancel</button
      >
    </div>
  </div>
</dialog>

<script>
  import { actions } from "astro:actions";

  const tenantDeleteBtn = document.getElementById("tenantDeleteBtn");

  tenantDeleteBtn?.addEventListener("click", async (e) => {
    const tenantInput = document.getElementById("delete_tenantId") as HTMLInputElement;
    const tenantId = tenantInput?.value;
    const { data, error } = await actions.tenants.deleteTenant({
      tenant_id: tenantId,
    });
  });
</script>
