---

---

<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Product Name</th>
        <th>URL</th>
        <th>Created Date</th>
        <th>Updated Date</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr>
        <td>Product A</td>
        <td>https://app.product-a.com</td>
        <td>2025-02-01 15:00</td>
        <td>2025-02-01 15:00</td>
        <td><button class="btn btn-warning btn-xs">Edit</button></td>
        <td><button class="btn btn-info btn-xs">Details</button></td>
        <td><button class="btn btn-error btn-xs">Delete</button></td>
      </tr>
      <!-- row 2 -->
      <tr>
        <td>Product B</td>
        <td>https://app.product-b.com</td>
        <td>2025-02-01 15:00</td>
        <td>2025-02-01 15:00</td>
        <td><button class="btn btn-warning btn-xs">Edit</button></td>
        <td><button class="btn btn-info btn-xs">Details</button></td>
        <td><button class="btn btn-error btn-xs">Delete</button></td>
      </tr>
      <!-- row 3 -->
      <tr>
        <td>Product C</td>
        <td>https://app.product-c.com</td>
        <td>2025-02-01 15:00</td>
        <td>2025-02-01 15:00</td>
        <td><button class="btn btn-warning btn-xs">Edit</button></td>
        <td><button class="btn btn-info btn-xs">Details</button></td>
        <td><button class="btn btn-error btn-xs">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
