---

---

<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>ID</th>
        <th>Business Name</th>
        <th>Tenant Name</th>
        <th>Email</th>
        <th>Created Date</th>
        <th>Updated Date</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr>
        <th>1</th>
        <td>Company A</td>
        <td>comany-a-2344</td>
        <td>comp-a@test.com</td>
        <td>2025-02-01 15:00</td>
        <td>2025-02-01 15:00</td>
        <td><a class="btn btn-warning btn-xs" href="/tenants/abc-123">Edit</a></td>
        <td><button class="btn btn-info btn-xs">Details</button></td>
        <td><button class="btn btn-error btn-xs">Delete</button></td>
      </tr>
      <!-- row 2 -->
      <tr>
        <th>2</th>
        <td>Company B</td>
        <td>comany-a-2344</td>
        <td>comp-b@test.com</td>
        <td>2025-02-01 15:00</td>
        <td>2025-02-01 15:00</td>
        <td><button class="btn btn-warning btn-xs">Edit</button></td>
        <td><button class="btn btn-info btn-xs">Details</button></td>
        <td><button class="btn btn-error btn-xs">Delete</button></td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>3</th>
        <td>Company C</td>
        <td>comany-a-2344</td>
        <td>comp-c@test.com</td>
        <td>2025-02-01 15:00</td>
        <td>2025-02-01 15:00</td>
        <td><button class="btn btn-warning btn-xs">Edit</button></td>
        <td><button class="btn btn-info btn-xs">Details</button></td>
        <td><button class="btn btn-error btn-xs">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
